/* ---------- Desktop Styles ---------- */

/* use .mac class selector to target mac specific styles */
.card {
	font-family: 'Assistant',  sans-serif;
	font-size: 22px;
	background-color: #ccdde3;
	text-align: left;
	padding: 3%;
}

.frontbg {
	background-color: #7fa2b8;
	border-radius: 12px 12px 0 0;
	position: relative;
	padding: 40px;
	color: black;
}

.language {
	font-weight: bold;
	font-size: 15px;
	border: 2px solid #e8ecf1;
	display: inline-block;
	padding: 5px;
	background-color: #5e6e85;
	color: #e8ecf1;
	font-family: 'Inconsolata', monospace;;
}

.question {
	margin-top: 15px;

}

.ex-code {
	margin-top: 15px;
	font-family: 'Inconsolata', monospace;
	font-size: 18px;
	color: #e8ecf1;
}

.backbg {
	position: relative;
	background-color: #fafdff;
	padding: 40px;
	padding-top: 30px;
	border-radius: 0 0 12px 12px;
}

.solution {
	font-family: 'Assistant',  sans-serif;
	position: relative;
	font-size: 18px;
}

.notes {
	margin-top: 10px;
	color: #6c737e;
	font-family: 'Assistant',  sans-serif;
	font-size: 16px;
}

/* ---------- Android Styles ---------- */
.android .frontbg {
	background-color: #50BAE8;
	font-weight: bold;
	border-radius: 12px 12px 0px 0px;
	color: #fff;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	left: 0;
}

.android .card {
	font-family: Times, serif;
	font-size: 20px;
	text-align: center;
	color: black;
	background-color: #fff;
	background-size: 0%;
}

.android .backbg {
	position: relative;
	top: -5px;
	background-color: #F8FCFE;
	padding: 15px;
	padding-bottom: 10px;
	border-radius: 0px 0px 12px 12px;
	font-size: 20px;
	text-align: left;
}

.android .example {
	color: #006192;
	font-family: Georgia, serif;
	font-size: 15px;
	font-style: italic ;
	margin-top: 15px;
	margin-bottom: 10px;
}

/* Place ttf font files inside Anki collection.media folder first before importing */
@font-face {
	font-family: Inconsolata;
	src: url('_Inconsolata.ttf');
}

